.login{
  max-width: 400px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.login>input{
  /* border-radius: 2px;
  outline: none; */
  padding: 0.5rem ,0;
}
button{
  margin: 0.5rem;
  border: 1px solid rgb(97, 181, 192);
  background: rgb(110, 220, 228);
  color: aliceblue;
}